{% extends 'flask_user/emails/base_message.html' %}

{% block message %}

<p>Grazie per esserti registrato su {{ app_name }}.</p>

{% if user_manager.enable_confirm_email and not user.confirmed_at %}
<p>Il prossimo passo &egrave; confermare il tuo indirizzo email</p>

<p>Per confermare l&#39;indirizzo email clicca sul link seguente:<br/>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ confirm_email_link }}">Conferma la tua email</a>.</p>

<p>Se non hai richiesto tu di essere registrato su {{ app_name }}, puoi semplicemente ignorare questo messaggio.</p>
{% endif %}

{% endblock %}