{% extends "base.html" %}
{% block content %}
<div id="intestazione" class="row">
      <div class="col-md-8">
      {% if call_or_get(current_user.is_authenticated) %}
      <h3>Ciao {{ current_user.username }}, clicca <a href="storia">QUI</a> per inviare un tuo testo a<br />HITOKOTO Flash del {{ now.day }}&nbsp;{{ mesi[now.month]}}&nbsp;{{ now.year }}</h3>
      <h4>(puoi inviare quanti testi vuoi, ognuno al massimo di 10.000 battute)</h4>
      {% else %}
      <h3>Ciao {{ user.nickname }}, fai il <a href="{{ url_for('user.login') }}">LOGIN</a> per partecipare a<br />HITOKOTO Flash del {{ now.day }}&nbsp;{{ mesi[now.month]}}&nbsp;{{ now.year }}</h3>
      {% endif %}
      </div>
</div>
<div id="corpo" class="row"> 
      <div class="col-md-8"><br /><p><a href="http://www.hitokoto.xyz" target="_blank">HITOKOTO</a> &eacute; un'espressione giapponese che significa "una sola parola".</p>
      <p>HITOKOTO &eacute; anche un esperimento collettivo di scrittura.</p>
<p>&Eacute; attorno a una sola parola che ogni volta HITOKOTO vuole raccogliere dei piccoli testi, dei racconti,un pensiero volante.<br />
HITOKOTO &eacute; esplorare paesaggi e parole, raccontandoli con la scrittura e vivendoli, leggendoli, in un luogo, in un istante collettivo.<br />
Ad ogni nuovo assalto i racconti dei partecipanti compongono un piccolo libro, da rivelare e condividere in un luogo inaspettato della citt&agrave;,<br />
in un momento speciale, irripetibile e fragile, quando in un atto di guerrilla culturale, ci daremo appuntamento per leggere le parole di tutti<br />
e distribuire il frutto del lavoro collettivo tra chi ci vorr&agrave; accompagnare.</p>
<p><b>HITOKOTO Flash &eacute; una versione istantanea di HITOKOTO che si svolge in tempo reale,<br />
con l'uso di un vecchio plotter a penna che scrive al volo le storie inviate dai partecipanti.</b></p>
</div> 
      </div>     
<div id="footer" class="row">
    {% if 'app/static/pdf/libro_a5.pdf' is file %}
    <div id="libro_pdf" class="col-md-8">
    Qui puoi scaricare un piccolo <a href="{{ url_for('static', filename='pdf/libro_a5.pdf') }}" target="_blank">libro in formato PDF</a><br />
    composto con le storie scritte fino a questo momento per questo <b>HITOKOTO Flash del {{ now.day }}&nbsp;{{ mesi[now.month]}}&nbsp;{{ now.year }}</b>.<br />
    Ogni volta che un autore aggiunge una nuova storia, il libro viene aggiornato automaticamente.
    </div>
    {% endif %}
  </div>
{% endblock %}
